qcma.pro.user*
*.o
*.qm
*.bundle
org.qcma.*.xml
buildscripts/windows/driver/QcmaDriver_*.exe
build/
repo/
.flatpak-builder/
ui_*.h
moc_*.cpp
moc_*.h
Makefile
gui/qcma
.qmake.stash
cli/qcma_cli
*.a
qrc_*.cpp
