Source: qcma
Section: utils
Priority: extra
Maintainer: codestation <codestation404@gmail.com>
Standards-Version: 3.9.6
Homepage: http://github.com/codestation/qcma
Vcs-Git: git://github.com/codestation/qcma.git
Build-Depends:
 debhelper (>= 9),
 libavformat-dev,
 libswscale-dev,
 qtbase5-dev,
 qttools5-dev-tools,
 libnotify-dev,
 libgtk2.0-dev,
 pkg-config,
 libvitamtp-dev (>= 2.5.5)

Package: qcma
Architecture: any
Depends: libvitamtp5 (>= 2.5.5), ${shlibs:Depends}, ${misc:Depends}
Description: Content Manager Assistant for the PS Vita
 QCMA will allow you to backup your PS Vita games & manage
 your songs, videos & photos.
 You can connect your Vita wirelessly or via USB.

Package: qcma-cli
Architecture: any
Depends: libvitamtp5 (>= 2.5.5), ${shlibs:Depends}, ${misc:Depends}
Description: Content Manager Assistant for the PS Vita (headless version)
 Command-line client to backup your PS Vita games & manage
 your songs, videos & photos.
 You can connect your Vita wirelessly or via USB.
