Source: qcma
Section: utils
Priority: extra
Maintainer: codestation <codestation404@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://github.com/codestation/qcma
Vcs-Git: git://github.com/codestation/qcma.git

Package: qcma
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Content Manager Assistant for the PS Vita

Package: qcma-headless
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Content Manager Assistant for the PS Vita (headless version)
