#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=773686
export QT_SELECT=qt5

%:
	dh $@ --buildsystem=qmake

override_dh_auto_configure:
	lrelease common/resources/translations/qcma_*.ts
	dh_auto_configure -- qcma.pro

.PHONY: override_dh_auto_configure
