[Desktop Entry]
Encoding=UTF-8
Exec=qcma
GenericName=Content Manager Assistant
GenericName[es]=Asistente del Gestor de Contenido
GenericName[fr]=Gestionnaire de contenu
Comment=Content Manager Assistant for the PS Vita
Comment[es]=Asistente del Gestor de Contenido para PS Vita
Comment[fr]=Gestionnaire de contenu pour la PS Vita
Icon=qcma
Name=Qcma
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-Desktop-File-Install-Version=0.22
Categories=System;FileManager;
